<footer class="socials">
    <a href="#"><img src="images/copyright.png" alt="copyright"></a>
    <a href="https://www.instagram.com/"><img src="images/instagram.png" alt="instagram logo"></a>
    <a href="https://www.twitter.com/"><img src="images/twitter.png" alt="twitter logo"></a>
    <a href="https://www.facebook.com/"><img src="images/facebook.png" alt="facebook logo"></a>
</footer>