<div class="prev-next-buttons">
    <button type="button" onclick="window.history.go(-1); return false;" class="fa-solid fa-chevron-left"></button>
    <button type="button" onclick="window.history.go(1); return false;" class="fa-solid fa-chevron-right"></button>
</div>