<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/producer2.css">
    <script src="https://kit.fontawesome.com/b8c98f18dc.js" crossorigin="anonymous"></script>
    <title><%= pageTitle %></title>
</head>

<body>
    <div class="container">
        <div class="side-nav">
            <a href="#" class="logo">
                <img src="/images/vintage_logo.jpg" class="logo-img" alt="Site Logo">
                <input type="text" placeholder="search">
            </a>
            <ul class="nav-links">
                <li><a href="#"><i class="fa-solid fa-book"></i><p>Library</p></a></li>
                <li><a href="#"><i class="fa-solid fa-circle-info"></i><p>Help</p></a></li>
                <li><a href="/brandon"><p>Producer's Features</p></a></li>
                <li><a href="/producer1"><p class="one">1) </p><i class="fa-solid fa-record-vinyl"></i><p class="oneone">Time Slot</p></a></li>
                <li><a href="#"><p class="two">2) </p><i class="fa-solid fa-microphone"></i><p class="twotwo">DJ</p></a></li>
                <li><a href="#"><p>3) </p><i class="fa-solid fa-list"></i><p>Playlist</p></a></li>
                <li><a href="#"><p>Schedule</p></a></li>
                <li><a href="/producer4"><i class="fa-solid fa-list"></i><p>Edit Playlist</p></a></li>
                <div class="active"></div>
            </ul>
        </div>

        <div class="right">
            <section class="body">
                <div class="profile-feat">
                    
                    <button>Producer</button>
                    
                    <button  onclick="location.href = '/';"><i class="fa-regular fa-user"></i></button>
                </div>

                <div class="date">
                    <p>Producer Playlists</p>
                    <h1 class="Day">Featured Playlists</h1>
                    <a class="audiobutton"href="#"><i class="fa-solid fa-plus"></i></i></a>
                </div>

                <div class="station-section">
                    <h1>Featured DJ's</h1>
                    <div class="playlists">
                        <% dj.forEach((d) => { %>
                            <a href="/producer3?djName=<%= d.dj_name %>&queue=<%= queue %>">
                                <div class="playlist-container">
                                    <img class="station-image" src="<%= d.dj_image %>" alt="station">
                                </div>
                            </a>
                        <% }); %>
                    </div>
                    
                    
                    <footer class="feet">
                        <div class="col1">
                            <a href="#"><i class="fa-regular fa-copyright"></i></a>
                        </div>
                        <div class="col2">
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        </div>
                    </footer>
                </div>
            </section>
        </div>
    </div>
</body>

</html>
